/* Styles communs à toutes les pages */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    background-color: #f4f4f4;
}

body {
    display: flex;
    background-color: #f4f4f4;
}

/* Sidebar styles */
.sidebar {
    background-color: #0047AB;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar h1 {
    margin-top: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav li {
    margin: 30px 0;
}

.sidebar nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Main content styles */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #0047AB;
    color: #fff;
}
