{% extends "main/main.html" %}
{% block title %}
Index du site 
{% endblock %}



    {% block titre %}
    Nouveau groupe
    {% endblock titre %}

    {% block lienAjout %}
    {% endblock lienAjout %}

    {% block content %}
            <form class="Form" method="post" action="{% if id %}/ABS/updatetraitementGroupe/{{ id }}/{% else %}/ABS/traitementGroupe/{% endif %}">
                {% csrf_token %}
                {{ form.as_ul }} 
                <input type="submit" value="envoyer les données"/>
            </form>
    {% endblock %}



{%block lien%}
                <li><a href="/ABS/"> Accueil </a></li>
                <li><a href="/ABS/Groupe"> Groupe </a></li>
                <li><a href="/ABS/Etudiant"> Etudiants </a></li>
{% endblock %}